:root {
    --white: #f6f6f9;
    --light-white: #fff;
    --color-light: rgba(132, 139, 200, 0.18);
    --blue: #3198d4;
    --box-shadow: 0 2rem 3rem 1rem var(--color-light);
}

html {
    margin: 0 0;
    padding: 0 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--white);
    color: #000000;
}

.container {
    display: grid;
    grid-template-columns: 20rem 30rem;
}

.navbar {
    margin-top: 1rem;
    background-color: var(--light-white);
    width: 13.2rem;
    height: 95vh;
    align-items: center;
    border-radius: 40px;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
    margin-left: 0.8rem;
    position: sticky;

}

.navbar:hover {
    box-shadow: none;
}

.navbar a {
    padding: 8px 5px 8px 40px;
    display: flex;
    align-items: center;
    font-size: smaller;
    font-weight: 100;
    gap: 0.5rem;
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: var(--blue);
    padding-left: 4rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.navbar .user {
    position: absolute;
    bottom: 3rem;
}

.navbar .dashboard {
    background-color: #3198d4;
    border-radius: 50px;
    color: var(--white);
}

.navbar .dashboard:hover {
    color: #ececec;
}

.title {
    margin-left: 0.1rem;
    width: max-content;
    padding: 1.5rem 17px;
    border-radius: 40px;
}

.title .material-symbols-sharp {
    font-size: 2rem;
    text-align: center;
    justify-items: center;
}

.title span {
    color: var(--blue);
}

.stock-selector {
    display: flex;
    align-items: center;
    height: 3rem;
    width: max-content;
    justify-content: center;
    gap: 1rem;
    color: var(--blue);
    font-weight: bold;
}

.stock-selector .add-my-stocks {
    display: flex;
    margin-left: 26rem;
    align-items: center;
    justify-items: center;
    border: none;
    border-radius: 8px;
    font-family: "Poppins", "Sans-serif";
    font-weight: bold;
    gap: 5px;
    background-color: var(--light-white);
    color: black;
    transition: all 0.3s ease;
    box-shadow: 0 1.5rem 2.5rem var(--color-light);
}

.stock-selector .add-my-stocks:hover {
    box-shadow: none;
}

.stock-selector select {
    width: 20rem;
    height: 2rem;
    font-size: large;
    background-color: rgb(31, 30, 30);
    border-radius: 20px;
    color: black;
    background-color: var(--light-white);
}

.stock-selector button {
    color: #ececec;
    background: #333333;
}

.stock-selector button:hover {
    color: var(--blue)
}

.ts-plot {
    overflow: hidden;
    border: 1px solid white;
    background-color: var(--light-white);
    margin-top: 0.5rem;
    height: 18rem;
    width: 70vw;
    border-radius: 24px;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

.ts-plot:hover {
    box-shadow: none;
}

.stock-name {
    color: var(--blue);
}

.info-cards {
    display: flex;
    width: 70vw;
    gap: 1rem;
}

.info-cards h1 {
    padding-left: 2rem;
    padding-top: 0rem;
    color: var(--blue);
}

.info-cards .stats {
    background-color: var(--light-white);
    margin-top: 2rem;
    border-radius: 24px;
    padding: 0.1rem 0px 0.4rem 0.1rem;
    width: 35vw;
    margin-right: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

.info-cards .stats:hover {
    box-shadow: none;
}

.info-cards .stats ul {
    list-style: none;
}

.info-cards .stats ul li {
    gap: 1rem;
    padding-bottom: 12px;
    font-weight: bolder;
    font-size: large;
}

.info-cards .stats ul li span {
    font-weight: 100;
    font-size: large;
    padding-left: 3rem;
    text-align: center;
    color: var();
}

.info-cards .stats span {
    font-size: 0.9rem;
    padding-left: 8rem;
    color: #000000;
}


.info-cards .preds {
    background-color: var(--light-white);
    margin-top: 2rem;
    border-radius: 24px;
    padding: 0.1rem 0px 0.4rem 0.1rem;
    width: 35vw;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

.info-cards .preds:hover {
    box-shadow: none;
}

.info-cards .preds .forecast-text {
    padding-left: 3rem;
}

.info-cards .preds .forecast-text .daysInp {
    width: 8rem;
    height: 1.5rem;
    margin-left: 2rem;
    border: none;
    border-radius: 2rem;
    font-size: large;
    padding-left: 1rem;
    background-color: var(--light-white);
    border: 0.8px solid black;
    font-weight: bold;
    font-style: "Poppins", "Sans-serif";
}

.info-cards .preds .forecast-text .submit {
    width: 4rem;
    border: white;
    height: 1.5rem;
    border-radius: 2rem;
    font-style: "Poppins", "Sans-serif";
    cursor: pointer;
    background-color: var(--light-white);
    border: 0.8px solid black;
    font-weight: bold;
    transition: all 0.3s ease;
}

.info-cards .preds .forecast-text .submit:hover {
    background-color: #3198d4;
    color: white;
}

.info-cards .preds .forecast {
    /* margin-left: 5rem;*/
    margin-top: 3rem;
    padding-left: 7.6rem;
    color: black;
    font-size: 60px;
}