:root {
    --white: #f6f6f9;
    --light-white: #fff;
    --color-light: rgba(132, 139, 200, 0.18);
    --blue: #3198d4;
    --box-shadow: 0 2rem 3rem 1rem var(--color-light);
}

html {
    margin: 0 0;
    padding: 0 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--white);
    color: #000000;
}

.container {
    display: grid;
    grid-template-columns: 20rem 30rem;
}

.navbar {
    margin-top: 1rem;
    background-color: var(--light-white);
    width: 13.2rem;
    height: 95vh;
    align-items: center;
    border-radius: 40px;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
    margin-left: 0.8rem;
    position: sticky;

}

.navbar:hover {
    box-shadow: none;
}

.navbar a {
    padding: 8px 5px 8px 40px;
    display: flex;
    align-items: center;
    font-size: smaller;
    font-weight: 100;
    gap: 0.5rem;
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: var(--blue);
    padding-left: 4rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.navbar .user {
    position: absolute;
    bottom: 3rem;
}

.navbar .my-stock {
    background-color: #3198d4;
    border-radius: 50px;
    color: var(--white);
}

.navbar .my-stock:hover {
    color: #ececec;
}

.title {
    margin-left: 0.1rem;
    width: max-content;
    padding: 1.5rem 17px;
    border-radius: 40px;
}

.title .material-symbols-sharp {
    font-size: 2rem;
    text-align: center;
    justify-items: center;
}

.title span {
    color: var(--blue);
}