:root {
    --black: #010101;
    --dark-grey: #000000;
    --light-grey: #292929;
    --red: #3198d4;
    --box-shadow: 40px 10px 60px -60px rgb(0, 0, 0);
}

html {
    margin: 0 0;
    padding: 0 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--black);
    color: #ececec;
    text-decoration: none;
}


.navbar {
    margin-top: 1rem;
    background-color: var(--light-grey);
    width: 13.2rem;
    height: 95vh;
    align-items: center;
    border-radius: 40px;
    inset: 0px 0px 20px 10px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
    margin-left: 0.8rem;

}

.navbar:hover {
    box-shadow: none;
}

.navbar a {
    padding: 8px 5px 8px 40px;
    display: flex;
    align-items: center;
    font-size: smaller;
    font-weight: 100;
    gap: 0.5rem;
    text-decoration: none;
    color: #ececec;
}

.navbar a:hover {
    color: var(--red);
    padding-left: 4rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.navbar .user {
    position: absolute;
    bottom: 3rem;
}

.navbar .my-stock {
    background-color: #3198d4;
    border-radius: 50px;
}

.navbar .my-stock:hover {
    color: #ececec;
}

.title {
    margin-left: 0.1rem;
    width: max-content;
    padding: 1.5rem 17px;
    border-radius: 40px;
}

.title .material-symbols-sharp {
    font-size: 2rem;
    text-align: center;
    justify-items: center;
}

.title span {
    color: var(--red);
}