:root {
    --white: #f6f6f9;
    --light-white: #fff;
    --color-light: rgba(132, 139, 200, 0.18);
    --blue: #3198d4;
    --box-shadow: 0 2rem 3rem 1rem var(--color-light);
}

html {
    margin: 0 0;
    padding: 0 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--white);
    color: #000000;
}

.container {
    display: grid;
    grid-template-columns: 20rem 30rem;
}


.navbar {
    margin-top: 1rem;
    background-color: var(--light-white);
    width: 13.2rem;
    height: 95vh;
    align-items: center;
    border-radius: 40px;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
    margin-left: 0.8rem;
    position: sticky;
    top: 0;
}

.navbar:hover {
    box-shadow: none;
}

.navbar a {
    padding: 8px 5px 8px 40px;
    display: flex;
    align-items: center;
    font-size: smaller;
    font-weight: 100;
    gap: 0.5rem;
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: var(--blue);
    padding-left: 4rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.navbar .user {
    position: absolute;
    bottom: 3rem;
}

.navbar .news {
    background-color: #3198d4;
    border-radius: 50px;
    color: var(--white);
}

.navbar .news:hover {
    color: #ececec;
}

main h1 {
    color: var(--blue);
}

.title {
    margin-left: 0.1rem;
    width: max-content;
    padding: 1.5rem 17px;
    border-radius: 40px;
}

.title .material-symbols-sharp {
    font-size: 2rem;
    text-align: center;
    justify-items: center;
}

.title span {
    color: var(--blue);
}

.newsInp {
    width: 50rem;
}

.newsInp .news {
    background-color: var(--light-grey);
    border-radius: 20px;
    width: 50%;
    height: 3rem;
    color: black;
    padding-left: 20px;
    font-size: 1.2rem;
    font-weight: bolder;
    border: 2px solid black;
}

.newsInp .newsSubmit {
    height: 3rem;
    width: 5rem;
    border-radius: 20px;
    border-style: none;
    margin-left: 1rem;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.newsInp .newsSubmit:hover {
    background-color: var(--blue);
    color: white;
    height: 3.3rem;
    width: 5.3rem;
}

.head-main {
    width: 67rem;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: var(--blue);
    color: white;
    margin-bottom: 3rem;
    font-size: larger;
}

.headlines .info-div {
    padding-top: 1.7rem;
}

.headlines .info-div .details {
    font-weight: bold;
}

.headlines .info-div .values {
    padding-right: 2rem;
}

.top-headline {
    display: none;

}